<mat-toolbar color="primary">
   <span class="example-spacer"></span>
   <span>Food Tracker</span>
 </mat-toolbar>

<div class="container">
<mat-accordion class="m-2">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Create Restorant
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-create-restorant></app-create-restorant>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<app-restorant-list></app-restorant-list>